:root {
  --color1: rgb(10, 25, 47);
}

:root {
  --color2: rgb(25, 110, 32);
}

#index_container {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: 1.9fr 0.8fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas: 
    'nav nav'
    'mn as'
}

#projects_container {
    display: grid;
    height: 100vh;
    margin: 0;
    background-color: var(--color1);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr;
    grid-template-areas: 
    'nav nav'
    'art1 art2'
    'art3 art4'
}

#projects_container > article {
  border-radius: 1rem;
  background-color: rgba(22, 51, 92, 0.219);
  margin: 1rem;
}

#experiences_container {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas: 
    'nav nav nav'
    'art1 art2 art3'
}

#about_me_container {
    display: grid;
    height: 100vh;
    margin: 0;
    background-color: var(--color1);
    grid-template-columns: 1.5fr 2fr 1.1fr;
    grid-template-rows: 10% 45% 45%;
    grid-template-areas: 
    'nav nav nav'
    'art1 mn dv'
    'as mn dv'
}

#about_me_container > article {
  border-radius: 1rem;
  background-color: rgba(22, 51, 92, 0.219);
  margin: 1rem;
}

#about_me_container > div {
  border-radius: 1rem;
  background-color: rgba(22, 51, 92, 0.219);
  margin: 1rem;
}

nav {
    grid-area: nav;
    background-color: var(--color1);
}

main {
    grid-area: mn;
}

aside {
    grid-area: as;
    border-left: 2px solid rgba(255, 255, 255, 0.055);
}

div {
    grid-area: dv;
}

footer {
    grid-area: ft;
    background-color: var(--color1);
}

.article1 {
    grid-area: art1;
}

.article2 {
    grid-area: art2;
}

.article3 {
    grid-area: art3;
}

.article4 {
    grid-area: art4;
}

#div1 {
    grid-area: dv1;
}

#div2 {
    grid-area: dv2;
}

#education_div{
  display:flex;
  align-items: center;
  padding: 4rem 2rem;
  flex-direction: column;
}

#logo {
    height: 2rem;
    width: 7rem;
    margin-left: -33rem;
}

#icon{
 height: 6rem;
 width: 6rem;
}

.nav_li {
   display: block;
   color: pink;
   font-family: 'Source Code Pro', monospace;
   padding: 1rem 3rem;
   margin: 0;
}

.nav_ul {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 2rem;
}

.about_me_ul {
  text-align: center;
  color: white;
}

.color1 {
    background-color: var(--color1);
}

.color2 {
    background-color: rgb(19, 42, 82);
}

.color3 {
  background-color:  rgb(13, 31, 58)
}

.color4 {
  background-color: rgb(12, 34, 65);
}

.index_text {
  width: 70%;
  line-height: 1.5rem;
}

.index_text_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font_type1 {
    font-size: 5rem;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.15rem;
    color: rgb(228, 225, 225);
}

.font_type2 {
    color: pink;
    font-family: 'Source Code Pro', monospace;
}

.font_type3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 156);
}

.font_type4 {
  font-size: 2rem;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.15rem;
  color: rgb(228, 225, 225);
  text-align: center;
}

.font_type5 {
  color: white;
}

.font_type6 {
  color: white;
  padding: 1rem;
}

.font_type7 {
  color: pink;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  text-align: center;
}

.font_type8 {
  font-size: 2rem;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.15rem;
  color: rgb(228, 225, 225);
}

.border_bottom {
  border-bottom: 2px solid rgba(255, 255, 255, 0.055);
} 

.border_right_left {
  border-right: 2px solid rgba(255, 255, 255, 0.055);
  border-left: 2px solid rgba(255, 255, 255, 0.055);
}

.projects_img {
  height: 80%;
  width: 30%;
  padding: 1.2rem 1rem;
}

.project_container {
  display: flex;
  padding-right: 1rem;
}

.experiences_imgs {
  height: 40%;
  width: 70%;
  margin: 1rem 4rem;
}

.about_me_img {
  width: 60%;
  border-radius: 5%
}

.about_me_main {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 192, 203, 0.534);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


.box {
  width: 300px;
  margin: 50px auto;
  border: 4px solid pink;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: pink;
  font-family: 'Source Code Pro', monospace;
  position: relative;
}

.box_left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid pink;
  border-top: 10px solid pink;
  border-bottom: 10px solid transparent;
  left: -21px;
  top: 6px;
}

.box_left:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid var(--color1);
  border-top: 7px solid var(--color1);
  border-bottom: 7px solid transparent;
  left: -11px;
  top: 10px;
}

.box_right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid pink;
  border-right: 10px solid transparent;
  border-top: 10px solid pink;
  border-bottom: 10px solid transparent;
  right: -21px;
  top: 6px;
}

.box_right:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid var(--color1);
  border-right: 7px solid transparent;
  border-top: 7px solid var(--color1);
  border-bottom: 7px solid transparent;
  right: -11px;
  top: 10px;
}


/*Bar chart css*/
dl {
    display: flex;
    flex-direction: column;
    width: 16.5rem;
    position: relative;
    padding: 1rem;
    font-family: "fira-sans-2", sans-serif;
    color: rgb(247, 245, 245);
  }
  
  dt {
    align-self: flex-start;
    width: 100%;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-left: 4.5rem;
    text-transform: uppercase;
  }
  
  .text {
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 2rem;
    width: 8rem;
    position: absolute;
    left: 0;
    margin-left: -2.5rem;
    justify-content: flex-end;
    font-family: "fira-sans-2", sans-serif;
    color: rgb(247, 245, 245);
  }
  
  .percentage {
    font-size: 0.6rem;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    margin-left: 5rem;
  }
  .percentage:after {
    content: "";
    display: block;
    background-color: pink;
    width: 2.5rem;
    margin-bottom: 0.5rem;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .percentage:hover:after, .percentage:focus:after {
    background-color: rgb(253, 161, 176);
  }
 
  .percentage-20:after {
    width: 20%;
  }
  
  .percentage-40:after {
    width: 40%;
  }
  
  .percentage-60:after {
    width: 60%;
  }
  
  .percentage-90:after {
    width: 90%;
  }
  
  .percentage-100:after {
    width: 100%;
  }

  #chart_container {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 500px) {
    #index_container {
      height: 160vh;
      grid-template-columns: 100%;
      grid-template-rows: 10% 50% 30% 10%;
      grid-template-areas:
      'nav'
      'mn'
      'as'
      'ft'
    }
  
    #projects_container {
      grid-template-columns: 100%;
      grid-template-rows: 10% 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      'nav'
      'art1'
      'art2'
      'art3'
      'art4'
    }

    #experiences_container {
      grid-template-columns: 100%;
      grid-template-rows: 10% 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      'nav'
      'art1'
      'art2'
      'art3'
  }

    #about_me_container {
      display: grid;
      height: 100vh;
      margin: 0;
      grid-template-columns: 100%;
      grid-template-rows: 10% 2fr 1fr 2fr 1fr;
      grid-template-areas: 
      'nav'
      'dv'
      'as'
      'mn'
      'art1'
  }
  .font_type1 {
    font-size: 2.2rem;
  }
}
