:root {
  --color1: rgb(10, 25, 47);
}

#index_container {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: 1.9fr 0.8fr;
    grid-template-rows: 10% 1fr 12%;
    grid-template-areas: 
    'nav nav'
    'mn as'
    'ft ft'
}

#projects_container {
    display: grid;
    height: 100vh;
    margin: 0;
    background-color: var(--color1);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr;
    grid-template-areas: 
    'nav nav'
    'art1 art2'
    'art3 art4'
}

#projects_container > article {
  border-radius: 1rem;
  background-color: rgba(22, 51, 92, 0.219);
  margin: 1rem;
}

#experiences_container {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas: 
    'nav nav nav'
    'art1 art2 art3'
}

#about_me_container {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10% 8fr;
    grid-template-areas: 
    'nav nav'
    'as mn'
}

nav {
    grid-area: nav;
    background-color: var(--color1);
}

main {
    grid-area: mn;
}

aside {
    grid-area: as;
    border-left: 2px solid rgba(255, 255, 255, 0.055);
}

div {
    grid-area: dv;
}

footer {
    grid-area: ft;
    background-color: var(--color1);
}

.article1 {
    grid-area: art1;
}

.article2 {
    grid-area: art2;
}

.article3 {
    grid-area: art3;
}

.article4 {
    grid-area: art4;
}

#div1 {
    grid-area: dv1;
}

#div2 {
    grid-area: dv2;
}

#logo {
    height: 2rem;
    width: 7rem;
    margin-left: -36rem;
}

.nav_li {
   display: block;
   color: pink;
   padding: 1rem 3rem;
   margin: 0;
}

.nav_ul {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 2rem;
}

.color1 {
    background-color: var(--color1);
}

.color2 {
    background-color: rgb(58, 103, 177);
}

.font_type1 {
    font-size: 5rem;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8rem;
    letter-spacing: -0.15rem;
    color: rgb(228, 225, 225);
}

.font_type2 {
    padding-left: 9rem;
    margin-bottom: -4rem;
    padding-top: 7rem;
    color: pink;
}

.font_type3 {
    margin: -2rem 8.5rem;
    padding-right: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 156);
}

.font_type4 {
  font-size: 2rem;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.15rem;
  color: rgb(228, 225, 225);
  text-align: center;
  margin-bottom: -0.5rem;
}

/*Bar chart css*/
dl {
    display: flex;
    flex-direction: column;
    width: 16.5rem;
    position: relative;
    padding: 1rem;
    padding-top: 7rem;
    font-family: "fira-sans-2", sans-serif;
    color: rgb(247, 245, 245);
  }
  
  dt {
    align-self: flex-start;
    width: 100%;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-left: 4.5rem;
    text-transform: uppercase;
  }
  
  .text {
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 2rem;
    width: 8rem;
    position: absolute;
    left: 0;
    margin-left: -2.5rem;
    justify-content: flex-end;
    font-family: "fira-sans-2", sans-serif;
    color: rgb(247, 245, 245);
  }
  
  .percentage {
    font-size: 0.6rem;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    margin-left: 5rem;
  }
  .percentage:after {
    content: "";
    display: block;
    background-color: pink;
    width: 2.5rem;
    margin-bottom: 0.5rem;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .percentage:hover:after, .percentage:focus:after {
    background-color: rgb(253, 161, 176);
  }
 
  .percentage-20:after {
    width: 20%;
  }
  
  .percentage-40:after {
    width: 40%;
  }
  
  .percentage-60:after {
    width: 60%;
  }
  
  .percentage-90:after {
    width: 90%;
  }
  
  .percentage-100:after {
    width: 100%;
  }
